/* Large screens (default):
 * - nav left, which includes logo
 * - nav-mobile hidden
 * - content center/right
 */

body {
    color: black;
    font-size: 24px;
    margin: 0px auto 0px auto;
    max-width: 1000px;
    padding-left: 235px; /* match nav width */
}

div#content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

div#nav {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    display: none;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#nav {
    float: left;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 235px;
    border-right: 1px solid black;
    height: 100%;
    background: #cfffff;
}

div#nav ul {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

div#nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

div#nav a {
    margin: 0;
}

div#nav a:hover {
    text-decoration: underline;
}

div#nav {
    text-align: center;
}

#nav a {
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

#logo {
    position: fixed;
    left: -38px;
    background: transparent;
}


/* Small screens:
 * - nav-mobile with smaller logo + title
 * - content full width
 * - menu button -> cover whole page with nav
 */

@media (max-width: 800px) {

    div#nav {
        position: fixed;
	left: 0;
	top: 0;
        display: inline-block;
	width: 100%;
	height: auto;
    	text-align: center;
    }

    div#nav ul {
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
    }

    div#nav li {
        display: inline-block;
    }

    body {
        margin-left: auto;
	margin-right: auto;
        padding-left: 0;
    }

    div#content {
        margin-top: 3.5em;
    }

    div#logo a {
        color: black;
        float: left;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    #logo {
        display: none;
    }

    /*
    div#logo a {
        color: black;
        float: left;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }
    */

}

/* hack to avoid dynamically taller header nav */
@media (max-width: 500px) {

    div#content {
        margin-top: 4.5em;
    }

}

/* Tall screens:
 * - same as default, except put the tree at the bottom
 */

@media (min-height: 900px) {
    #logo {
        bottom: -1.5em; /* TODO better way to avoid nav items */
    }
}
